/* Navbar */

.about{
    border: solid 1px red;
} 
.panel1{
      background-image: url("../images/kevin-bhagat-425897.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    
}

.row2{
    margin-top: 15px;

}

.panelHeader{
    margin:0;
}
.footer{
    /* position:absolute;
    bottom: 0; */
    width:100%;
    height:60px;
    text-align:center;
    
    background-color:lightgray;  
    margin-top:15px;
}

.footerText{
    margin:0;
}