/* Navbar */

/* .navbar{
    margin-bottom:0px;
} */

/* Panel 1 */

/* .row1{ */
/* 
}

.about{

} */
.panel1{
      background-image: url("../images/kevin-bhagat-425897.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    
}



.footer{
    /* position:absolute;
    bottom: 0; */
    width:100%;
    height:60px;
    text-align:center;
    
    background-color:lightgray;  
    margin-top:15px;
}

.footerText{
    margin:0;
}